*{
	margin:0;
	padding:0;
}

body {

}

header{
	font: bold 36px Arial, Helvetica, sans-serif;
	background: #333;
	color: #c00;
	text-transform: uppercase;
	text-align: center;
}

section{
	width: 350px;
	margin: 0px auto;

}

section p{
	font: bold 24px Arial, Helvetica, sans-serif;
	background: #ccc;
	border: #999 2px solid;
	color: #666;
	text-align: center;
	padding: 10px;
	margin: 10px;
	width:300px;
}

form {
	width: 400px;
	margin: 0 auto;
}

input[type=text] {
	font: bold 24px Arial;
	border: #999 2px solid;
}

.right{
	background: #0c0;
	border: #090 2px solid;
	color: #060;
}

.wrong{
	background: #c00;
	border: #900 2px solid;
	color: #600;
}

button{
	display: block;
	width: 300px;
	padding: 10px;
	margin: 10px auto;
	cursor: crosshair;
	font: bold 24px Arial;
	background-color: #beeeef;
	color: darkorchid;
	border-radius: 25px;
	text-align: center;
}


#answer {
	width: 400px;
}

#submit {
	text-align: center;
	width: 400px;
	background-color:green;
}

#start{
	margin: 0 auto;
	padding: auto;
}